<h1>Solicitação de criação de conta</h1>
<p>Foi solicitado a aprovação da conta do posto de combustível {{businessName}}</p>
<p>Para liberar o acesso faça o login como administrador e troque o status do posto de inativo para ativo</p>
