<h1>Aprovação da criação de conta</h1>
<p>Foi aprovado a criação da conta do posto de combustível {{businessName}}</p>
<p>Para realizar o login da conta <a href="{{loginUrl}}" target="_blank">clique aqui</a></p>
