<h1>Solicitação de troca de senha</h1>
<p>
  Foi solicitado em nosso sistema a troca de senha referente a sua conta
  na aplicação Octano na qual utiliza o email {{ login.email }}
</p>

<p>
  Link para realizar a troca da senha:
  <a href="{{recoverURL}}" target="_blank">Página de troca de senhas</a>
</p>

<p>
  Se esta mensagem não foi solicitado por você, recomendamos a troca da sua senha o mais breve possível
</p>
